
{% load staticfiles %}

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy " rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
    </head>






        <body>







        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>{% block title %}{% endblock %}</title>
                <!-- Core CSS - Include with every page -->


                </head>
                <body>
                    <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>


                                <a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>   MoneyADDA</a>
                            </div>
                            <ul class="nav navbar-nav">

                                    <li {% block pay %}{% endblock %}><a href="{% url 'new_transaction' %}"><span class="glyphicon glyphicon-open"></span>     Pay</a></li>
                                    <li>{% block tr %}{% endblock %}<a href="#"><span class="glyphicon glyphicon-th-list"></span>      Recent Transactions</a></li>

                            </ul>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% block username %}{% endblock %}
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="#">home</a>
                                            </li>
                                            <li>
                                                <a href="#">action#1</a>
                                            </li>
                                            <li>
                                                <a href="#">action#2</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% url 'details' %}">Details</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="/logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                {% block content %}

                {% endblock %}


                    <!-- Core Scripts - Include with every page -->

        {% block javascript %}
        {% endblock %}

                 <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© 2017 - MoneyADDA Inc. All rights reserved
      </p>
    </div>

            </body>
